*.csv
*.hdf5
*.fai
*.rda
*.txt
*.kmc_pre
*.kmc_suf
*.fastq.gz
*.fastq
*.html
*.json
*.fa
*.fasta
*.fa.fai
*.zip
*.fasta
*.tsv
*.cereal
*.tsv.gz
*.Cereal
*.vcf.gz
*.vcf
*.vcf.gz.tbi
*.bam
*.bam.bai
*.log
*.bed
*.bimbam
*.ann
*.pdf
*.fa.amb
*.fa.ann
*.fa.bwt
*.fa.pac
*.fa.sa
*.hapcount
**results/
screen_genomes/
logs/
qmers/
.snakemake/
multiqc_data/
/target
data/
/workflow/scripts/qmers/target/
**.vcz/
**.icf/
