initialize() {
initializeTreeSeq();
initializeMutationRate(0);
initializeMutationType("m1", 0.5, "f", 0.0);
initializeGenomicElementType("g1", m1, 1.0);
initializeGenomicElement(g1, 0, L-1);
initializeRecombinationRate(R);
}

1 early() {
    sim.addSubpop("p0", N);
    p0.setSelfingRate(sigma);
    // read in sampling times
    lines = readFile("../config/sampling_times.tsv");
    lines = lines[substr(lines, 0, 1) != "//"];
    lines = lines[1:(length(lines) - 1)]; // drop header
    sam_types = c();
    sam_times = c();
    sam_sizes = c();
    for (line in lines) {
        fields = strsplit(line, "\t");
        sam_types = c(sam_types, fields[0]);
        sam_times = c(sam_times, asInteger(fields[1]));
        sam_sizes = c(sam_sizes, asInteger(fields[2]));
    }
    defineGlobal("sam_types", sam_types);
    defineGlobal("sam_times", sam_times);
    defineGlobal("sam_sizes", sam_sizes);
    // schedule sampling times
    hist_times = sam_times[(sam_types == "historical")];
    mod_times = sam_times[(sam_types == "modern")];
    community.rescheduleScriptBlock(s1, ticks=hist_times);
    community.rescheduleScriptBlock(s2, ticks=mod_times);
    // schedule end
    community.rescheduleScriptBlock(s3, ticks=max(c(hist_times, mod_times))+2);
}

s1 1000 late() {
      n = sam_sizes[(sam_types == "historical") & (sam_times == sim.cycle)];
      cat("Sampling " + n + " historical individuals at: " + sim.cycle + "\n");
      sim.treeSeqRememberIndividuals(sample(p0.individuals, n, replace = F));
}

s2 1000 late() {
    n = sam_sizes[(sam_types == "modern") & (sam_times == sim.cycle)];
    cat("Sampling " + n + " modern individuals at: " + sim.cycle + "\n");
    sim.treeSeqRememberIndividuals(sample(p0.individuals, n, replace = F));
}

s3 100 early() {
    sim.treeSeqOutput("slim_fst_results/" + ID + ".trees", metadata = Dictionary("foo", 1, "bar", 2));
    sim.simulationFinished(); 
}
