// Started by borrowing code from Vince Buffalo and modifying/updating it to 
// work with newest version of slim (v5.1 as of writing)
// https://github.com/vsbuffalo/cvtk/blob/master/slim_sims/neutral_burnin.slim

function (void)write_freqs(string file, object<Subpopulation> subpop,
                     object<MutationType> mut_type, integer generation) {
  // this access sim from scope -- is this efficient?
  fmt_freqs='applyValue.id + ";" + applyValue.position + ";" + sim.mutationFrequencies(subpop, applyValue);';
  line = paste(sapply(sim.mutationsOfType(mut_type), fmt_freqs), sep="\t");
  writeFile(file, generation + "\t" + line, append=T);
}

function (float)genic_va(float x, float a) {
    return 2*sum(a^2 * x * (1-x));
}

function (float)ssh(float x) {
  return 2*sum(x * (1-x));
}

//function (integer)target_g(integer l, integer n, float mu){ 
// return asInteger( ((0.577215664901532 + log(2*n))*mu*4*n)/1.5 - l );
//}

function (float)target_alpha(float va, integer l, integer n){
  theta_l = l/(0.577215664901532 + log(2*n));
  return sqrt(va/theta_l);
}

initialize() {
  defineConstant("seed", getSeed());
  defineConstant("data_dir", 'slim_results');
  defineConstant("neutfreqs_file", data_dir + "/" + ID + "_neutfreqs.tsv");
 
  catn("Tick 1: Target alpha:" + target_alpha(VA, L, N)); 
  defineConstant("alpha", target_alpha(VA, L, N));

  //catn("Tick 1: Target genome size:" + target_g(L, N, MU));
  //defineConstant("G", target_g(L, N, MU));

  initializeMutationRate(MU);
  initializeMutationType("m1", 0.5, "s", "if (runif(1) < 0.5) -alpha; else alpha;");
  initializeMutationType("m2", 0.5, "f", 0.0);
  initializeGenomicElementType("g1", c(m1, m2), c(0, 1));
  initializeGenomicElement(g1, 0, asInteger(G-1));
  initializeRecombinationRate(R);
  m1.convertToSubstitution = T;
  m1.mutationStackPolicy = "f";
  m2.convertToSubstitution = T;
  m2.mutationStackPolicy = "f";

  // simulation start and end
  defineGlobal("burnin", 10*N);
  defineGlobal("end", burnin + TAU);

  // initialize output file headers
  bname = (ID + "_" + N + "N_" + R + "R_" + alpha + "alpha_" + MU + "mu_" + 
            + L + "L_" + VA + "VA_" + G + "G");
  defineConstant("basename", bname);
  defineConstant("stats_file", data_dir + '/' + basename + '_stats.tsv');
  // write header
  param_string = "#seed=" + seed + ";alpha=" + alpha + ";N=" + N + 
     	         ";L=" + R + ";L=" + L + 
                 ";mu=" + MU;
  writeFile(stats_file, param_string, append=F);
  writeFile(stats_file, "gen\tzbar\tzbar_nofix\tzvar\tgenic_var\tneut_het\tS", append=T);
}

// --- blocks
1 early() {
    sim.addSubpop("p1", N);
    p1.setSelfingRate(SIGMA);
    // --- block schedule --- 
    // when selection begins
    community.rescheduleScriptBlock(s2, start=burnin, end=burnin);
    // recording begins
    community.rescheduleScriptBlock(s3, start=burnin, end=end);
    // end point
    community.rescheduleScriptBlock(s4, start=end);
}

// report during burn-in
early() {
    if (sim.cycle % 1000 == 0) {
        cat("Generation: " + sim.cycle + "; Num. m1: " + length(sim.mutationsOfType(m1)) + "; Num. m2: " + + length(sim.mutationsOfType(m2)) + "\n");
    }
}

// sample mutations to be selected
s2 600 early(){
  sampled = sample(sim.mutations, L);
  catn("Generation: " + sim.cycle + "; Sampled mutations: " + length(sampled));
  for (mut in sampled) {
    mut.setMutationType(m1);
    if (runif(1) < 0.5) {
        mut.setSelectionCoeff(alpha);
    } else {
        mut.setSelectionCoeff(-alpha);
    }
  }
}

//
s3 500 late() {
    catn("Generation: " + sim.cycle + "; Recording frequencies...");
    inds = sim.subpopulations.individuals;
    phenotypes = inds.sumOfMutationsOfType(m1);
    fixed_trait = sum(sim.substitutions.selectionCoeff);
    inds.tagF = phenotypes;
    // post-burnin: start recording
    pheno_mean = mean(inds.tagF);
    zbar = pheno_mean + fixed_trait;
    x = sim.mutationFrequencies(p1, sim.mutationsOfType(m1));
    genic_var = 2*sum(alpha^2 * x * (1-x));
    y = sim.mutationFrequencies(p1, sim.mutationsOfType(m2));
    ssh = 2*sum(y * (1-y));
    // write phenotypes
    row = paste(c(sim.cycle, zbar, pheno_mean, 
                  var(inds.tagF), genic_var, ssh, length(y)), sep="\t");
    writeFile(stats_file, row, append=T);
    // write neutral frequency trajectories
    write_freqs(neutfreqs_file, p1, m2, sim.cycle);
}

s4 5000 late() {
  p1.outputVCFSample(5, filePath = data_dir + "/" + ID + ".vcf");
  sim.simulationFinished();
}
