executor: slurm
jobs: 1000
cores: 1000

# rules to execute locally, because they're too fast to bother with cluster submission
# localrules: all_one_pops, all_two_pops, all

# use sensible defaults for your cluster
default-resources:
    slurm_account: "co_moilab"
    slurm_partition: "savio3_htc"
    slurm_qos: "savio_lowprio"
    #slurm_extra: "--qos=savio_lowprio"
    ntasks: 1
    cpus_per_task: 1
    runtime: "30m"
    mem_mb: 0

# here only rules, which require different (more) resources:
set-resources:
    freqk_count:
        cpus_per_task: 2
    fastp:
        cpus_per_task: 2
    kmc_contam_db:
        cpus_per_task: 4
    kmc_rm_contam:
        cpus_per_task: 4
    kmc: 
        cpus_per_task: 2
    bwa_mem:
        cpus_per_task: 4

# parallelization with threads needs to be defined separately:
# threads and cpus_per_task are supposed to be synonymous for this plugin, but for some reason I need to specify them separately
set-threads:
    freqk_count: 2
    fastp: 2
    kmc: 2
    kmc_contam_db: 4
    kmc_rm_contam: 4
    bwa_mem: 4
