executor: slurm
jobs: 10
cores: 10

# rules to execute locally, because they're too fast to bother with cluster submission
# localrules: all_one_pops, all_two_pops, all

# use sensible defaults for your cluster
default-resources:
    slurm_account: "co_moilab"
    slurm_partition: "savio2_htc"
    slurm_extra: "--qos=savio_lowprio"
    ntasks: 1
    cpus_per_task: 1
    runtime: "60m"

# here only rules, which require different (more) resources:
set-resources:
    fastp:
        cpus_per_task: 4
    kmc_contam_db:
        cpus_per_task: 3
        
# parallelization with threads needs to be defined separately:
# threads and cpus_per_task are supposed to be synonymous for this plugin, but for some reason I need to specify them separately
set-threads:
    fastp: 4
    kmc_contam_db: 3
